@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: black;
}

.menu-btn {
    @apply px-8 py-2 border border-blue-500 bg-black text-white font-bold hover:bg-blue-500 transition duration-300;
}